<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-row>
        <ion-col class="small"  align-self-center size-xs="9"size-md="9" size-lg="9">
          Nieuwe zin invoeren (mits rechten)
        </ion-col>
        <ion-col align-self-center size-xs="3"size-md="3" size-lg="3">
          <ion-button class="mediumClass" [color]="dataService.getLoginButtonColor()" [routerLink]="['/login'] ">
            Login
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Beheer dataset</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-item disabled="false">
      <ion-row>
        <ion-col align-self-center size-xs="4" size-md="3" size-lg="3" >
          nivo (1-5):
        </ion-col>
        <ion-col align-self-center size-xs="2" size-md="2" size-lg="2" >
          <ion-input  name="nivo" type="text" placeholder="nivo van deze zin" [(ngModel)]='zinNivo'> </ion-input>
        </ion-col>
        <ion-col align-self-center size-md="3" size-lg="3" size-xs="3">
          Tekst:
        </ion-col>
        <ion-col align-self-center size-md="9" size-lg="9" size-xs="9">
          <ion-input  name="nivo" type="text"  (ionChange)="onChangeText()" placeholder="type hier je zin" [(ngModel)]='zinTekst'> </ion-input>
        </ion-col>
        <ion-col align-self-center size-md="9" size-lg="9" size-xs="9">
          <ion-input  name="nivo" type="text" placeholder="type hier Correcte zin" [(ngModel)]='zinTekstCorrect'> </ion-input>
        </ion-col>
        <ion-button (click)="addNewZinToDatabaseApi()" tooltip="nog invullen">
          <ion-icon slot="icon-only" name="save"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-item>

    --{{resultFromDataServiceTXT}}
  </ion-content>
