.padleft{
  padding :10px;

  // color:rgb(27, 25, 0)
}

.height2 {
  height: 8rem;

}

.small{
  font-size: small;
}

.x-small{
  font-size: x-small;
}

.nivoLabel {
  max-width:45px;
}

.nivoOptions {
  width:120px;
}

ion-input {
  background-color: rgb(242, 243, 229);
  color:rgb(1, 7, 15);
  margin-top: 3px;
}

ion-select {
  background-color: rgb(231, 228, 245);
  color:rgb(5, 1, 20);
}

.lightRed { background-color: rgb(236, 193, 193); }
.lightGreen { background-color: rgb(193, 236, 202); }

.login{
  width: 5REM;
  height: 1.8REM;
}

@media screen and (min-width: 640px){
  ion-select {
    font-size: large;
  }
  .small{
    font-size: medium;
  }

  .x-small{
    font-size: small;
  }

  .login{
    width: 7REM;
    height: 2.2REM;
  }

}
