.padleft{
  padding :10px;
  background-color: rgb(245, 244, 237);
  // color:rgb(27, 25, 0)
}

.small{
  font-size: small;
}

.x-small{
  font-size: x-small;
}

ion-input {
  background-color: rgb(242, 243, 229);
  color:rgb(1, 7, 15);
  margin-top: 3px;
}

ion-select {
  background-color: rgb(231, 228, 245);
  color:rgb(5, 1, 20);
}

.login{
  background-color: rgb(203, 214, 213);
  width: 5REM;
  height: 1.8REM;
}

@media screen and (min-width: 640px){
  ion-select {
    font-size: large;
  }
  .small{
    font-size: medium;
  }

  .x-small{
    font-size: small;
  }

  .login{
    background-color: rgb(203, 214, 213);
    width: 7REM;
    height: 2.2REM;
  }

}
