<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Test leessnelheid {{this.aantalZinnen}} zinnen. Max {{maxTijd}} sec per zin
      -- Ingelogd als Rien
      <br>
      <span
        class="small">
        <ion-select placeholder="Select One" [(ngModel)]='snelheid'> snelheid
          <ion-select-option value="slak">speed slak</ion-select-option>
          <ion-select-option value="langzaam">speed langzaam</ion-select-option>
          <ion-select-option value="normaal">speed normaal</ion-select-option>
          <ion-select-option value="snel">speed snel</ion-select-option>
          <ion-select-option value="jaguar">speed jaguar</ion-select-option>
        </ion-select>
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row color="primary" justify-content-center>
      <h2 [style.color]="zinStyle" class="padleft"> {{actualZin}}</h2>
    </ion-row>
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="2" size-lg="2" size-xs="3"  >
        <ion-button (click)="nextZin()" tooltip="nog invullen">
          gelezen
        </ion-button>
      </ion-col>

      <ion-col align-self-center size-md="2" size-lg="2" size-xs="2"  >
        <ion-button (click)="resetTijd() " tooltip="nog invullen">
          <ion-icon slot="icon-only" name="refresh"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col align-self-center size-md="2" size-lg="2" size-xs="2"  >
       <h2>{{verstreken}}</h2>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-grid>
    <ion-row color="primary" justify-content-center  *ngFor="let geradenItem of geraden; let i = index">
      <ion-col align-self-center size-md="7" size-lg="5" size-xs="6"  >
       {{geradenItem.zin}}
       </ion-col>
      <ion-col align-self-center size-md="5" size-lg="5" size-xs="5"  >
         {{geradenItem.tijd}}
       </ion-col>
    </ion-row>
  </ion-grid>



   <!--   <ion-grid>
    <ion-row color="primary" justify-content-center  *ngFor="let zin of zinnen2; let i = index">
      <ion-col align-self-center size-md="2" size-lg="2" size-xs="2"  >
       <h2> {{zin.id}}</h2>
      </ion-col>
      <ion-col align-self-center size-md="2" size-lg="2" size-xs="2"  >
        <h2> {{zin.nivo}}</h2>
       </ion-col>
      <ion-col align-self-center size-md="7" size-lg="6" size-xs="6"  >
        <h2> {{zin.tekst}}</h2>
       </ion-col>
    </ion-row>
  </ion-grid> -->


  <!-- <ion-footer>
    <p></p><a href="https://www.youtube.com/watch?v=uOfB_Ex9eQM">Page was buid based on THIS video read json</a></p>
  </ion-footer> -->
</ion-content>
