<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-row>
        <ion-col class="small"  align-self-center size-xs="6"size-md="6" size-lg="6">
          Wijzig tekst, of zichtbaarheid <br> {{info}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align-self-center size-xs="2"size-md="2" size-lg="2">
          <ion-input name="userName" class="small login" type="text" placeholder="userName" [(ngModel)]='dataService.userName'> </ion-input>
        </ion-col>
        <ion-col align-self-center size-xs="3"size-md="3" size-lg="3">
          <ion-input name="userWW" class="small login" type="text" placeholder="wachtwoord" [(ngModel)]='dataService.userWW'> </ion-input>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

   <ion-grid>
    <ion-row color="primary" justify-content-center  *ngFor="let zin of zinnen2; let i = index">

      <ion-col align-self-center size-xs="2" size-md="2" size-lg="2"  >
        <ion-button (click)="handleClickDelete(zin.id.toString())" tooltip="nog invullen">
          {{zin.deleted==='1'?'X Show':'& Del!'}}
              <!-- <ion-icon slot="icon-only" name="trash"></ion-icon> -->
          </ion-button>
       </ion-col>

      <ion-col align-self-center size-xs="1" size-md="1" size-lg="1"  >
       {{zin.id}}
      </ion-col>
      <ion-col align-self-center size-xs="1" size-md="1" size-lg="1"   >
        {{zin.nivo}}
      </ion-col>
      <ion-col align-self-center size-xs="8" size-md="8" size-lg="8"  >
        <ion-input  name="nivo" type="text" placeholder="tekst van deze zin"
          [(ngModel)]='zinnen2[i].tekst' (ionBlur)="onBlurInput(zin.id, zinnen2[i].tekst)" (ionChange)="onchangeInput(zin.id)"></ion-input>
       </ion-col>
        <!--  <ion-col align-self-center size-md="2" size-lg="2" size-xs="2"  >
              {{zin.deleted === '0' ? 'zichtbaar' : 'NIET zichtbaar'}}
              </ion-col>
        -->
    </ion-row>
    {{resultFromDataServiceTXT}}

  </ion-grid>
  <h4>
      Deze website is gemaakt door KdeCodeklopper
      Doel is oefenen met woordjes, gemaakt op verzoek van een vriend die door een hersenbloeding deels opnieuw moest leren lezen.
      De website wordt gehoosd bij netlify, die de website host vanuit Github.
      De backend staat via een api bij bhosted. De website is gebouwd in Ionic 5/Angular10 en PHP(7 geloof ik)
  </h4>
</ion-content>

