<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-row>
        <ion-col class="small"  align-self-center size-xs="10"size-md="10" size-lg="10">
          Wijzig tekst, of zichtbaarheid
        </ion-col>
        <ion-col float-right >
          <ion-button [color]="dataService.getLoginButtonColor()" [routerLink]="['/login'] ">
            Login
          </ion-button>
        </ion-col>

      </ion-row>
      <ion-row>
          <span class="allign_middle margin-right"> {{'Bevat: '}}
            <!--
            <ion-checkbox item-left value="begin" [(ngModel)]='filterVoorafBegintMet'></ion-checkbox>
            -->
          </span>
          <ion-input name="filter" type="text" placeholder="filter" [(ngModel)]='filterStringVooraf'>
          </ion-input>
      </ion-row>

      <ion-row>
        <ion-col class="small" align-self-center size-xs="7"size-md="7" size-lg="7">
          <!-- {{info}} -->
          <ion-button size="large" color="" (click)="setLaatsteZinID('first')" tooltip="nog invullen">
            <span class="xx-small" ><--</span>
          </ion-button>
          <ion-button size="large" color="" (click)="setLaatsteZinID('next')" tooltip="nog invullen">
            <span class="x-large" >-> next</span>
          </ion-button>
          <ion-button size="large" color="" (click)="handleCheckAantalZinnenViaApi()" tooltip="nog invullen">
            <span class="x-large" >Aantal {{aantalZinnen}} {{' / ' }} {{aantalZinnenVanApi}}</span>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <ion-grid>
    <ion-row>
        <span class="allign_middle margin-right"> Filter onderstaande lijst:</span>
        <ion-input name="filter" type="text" placeholder="filter hieronder"
          [(ngModel)]='filterString'>
        </ion-input>
    </ion-row>
    <ion-row class="gridRowStyle" color="primary" justify-content-center *ngFor="let zin of zinnen2; let i = index"
    [ngStyle]="{
      'display': this.filterString===''?'block':
        zin.nivo===this.filterString?'block':
        zin.id===this.filterString?'block':
        zin.tekst.toLowerCase().includes(filterString.toLowerCase())?'block':
        zin.tekstCorrect.toLowerCase().includes(filterString.toLowerCase())?'block':
        'none'
    }" >
      <ion-col align-self-center size-xs="12" size-md="12" size-lg="12"  >
        <ion-row>
          <ion-col align-self-center size-xs="2" size-md="2" size-lg="2"  >
            <ion-button (click)="handleClickDelete(zin.id.toString())" tooltip="nog invullen">
              {{zin.deleted==='1'?'Show':'Del!'}}
                  <!-- <ion-icon slot="icon-only" name="trash"></ion-icon> -->
            </ion-button>
          </ion-col>

          <ion-col align-self-center size-xs="2" size-md="2" size-lg="2">
            id={{zin.id}}
          </ion-col>
          <ion-col align-self-center size-xs="2" size-md="2" size-lg="2">
            nivo={{zin.nivo}}
          </ion-col>
        </ion-row>
      <ion-row>
        <ion-col align-self-center size-xs="2" size-md="2" size-lg="2">
          tekst
        </ion-col>
        <ion-col align-self-center size-xs="10" size-md="10" size-lg="10"  >
          <ion-input  readonly="{{!dataService.getLastEditRights()}}" name="nivo" type="text" placeholder="tekst van deze zin"
            [(ngModel)]='zinnen2[i].tekst' (ionBlur)="onBlurTekst(zin.id, zinnen2[i].tekst, zinnen2[i].tekstCorrect)" (ionChange)="onchangeTekst(zin.id)">
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align-self-center size-xs="2" size-md="2" size-lg="2" >
          Correct
        </ion-col>
        <ion-col align-self-center size-xs="10" size-md="10" size-lg="10"  >
          <ion-input  readonly="{{!dataService.getLastEditRights()}}" name="nivo" type="text" placeholder="tekst van deze zin"
            [(ngModel)]='zinnen2[i].tekstCorrect' (ionBlur)="onBlurTekst(zin.id, zinnen2[i].tekst, zinnen2[i].tekstCorrect)" (ionChange)="onchangeTekst(zin.id)">
          </ion-input>
        </ion-col>
      </ion-row>
    </ion-col>

     <!--  <ion-col align-self-center size-md="2" size-lg="2" size-xs="2"  >
              {{zin.deleted === '0' ? 'zichtbaar' : 'NIET zichtbaar'}}
      </ion-col> -->

    </ion-row>
    {{resultFromDataServiceTXT}}

  </ion-grid>
  <h4>
      Deze website is gemaakt door KdeCodeklopper versie 0.96 07-oktober-21
      login scherm toegevoegd tab 3 filter aangepast vanwege grotere aantal woorden
      Doel is oefenen met woordjes, gemaakt op verzoek van een vriend die door een hersenbloeding deels opnieuw moest leren lezen.
      De website wordt gehoosd bij netlify, die de website host vanuit Github.
      De backend staat via een api bij bhosted. De website is gebouwd in Ionic 5/Angular10 en PHP(7 geloof ik)
  </h4>
</ion-content>

