<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-row>
        <ion-col class="small"  align-self-center size-xs="9"size-md="9" size-lg="9">
          Wijzig tekst, of zichtbaarheid
        </ion-col>
        <ion-col align-self-center size-xs="3"size-md="3" size-lg="3">
          <ion-button [color]="dataService.getLoginButtonColor()" [routerLink]="['/login'] ">
            Login
          </ion-button>
        </ion-col>
        <br> {{info}}
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <ion-grid>
    <ion-row class="gridRowStyle" color="primary" justify-content-center *ngFor="let zin of zinnen2; let i = index">
      <ion-col align-self-center size-xs="12" size-md="12" size-lg="12"  >

        <ion-row>
          <ion-col align-self-center size-xs="2" size-md="2" size-lg="2"  >
            <ion-button (click)="handleClickDelete(zin.id.toString())" tooltip="nog invullen">
              {{zin.deleted==='1'?'Show':'Del!'}}
                  <!-- <ion-icon slot="icon-only" name="trash"></ion-icon> -->
            </ion-button>
          </ion-col>

          <ion-col align-self-center size-xs="2" size-md="2" size-lg="2"  >
          id={{zin.id}}
          </ion-col>
          <ion-col align-self-center size-xs="2" size-md="2" size-lg="2"   >
            nivo={{zin.nivo}}
          </ion-col>
        </ion-row>

      <ion-row>
        <ion-col align-self-center size-xs="2" size-md="2" size-lg="2" >
          tekst
        </ion-col>
        <ion-col align-self-center size-xs="10" size-md="10" size-lg="10"  >
          <ion-input  readonly="{{!dataService.getLastEditRights()}}" name="nivo" type="text" placeholder="tekst van deze zin"
            [(ngModel)]='zinnen2[i].tekst' (ionBlur)="onBlurTekst(zin.id, zinnen2[i].tekst, zinnen2[i].tekstCorrect)" (ionChange)="onchangeTekst(zin.id)">
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align-self-center size-xs="2" size-md="2" size-lg="2" >
          Correct
        </ion-col>
        <ion-col align-self-center size-xs="10" size-md="10" size-lg="10"  >
          <ion-input  readonly="{{!dataService.getLastEditRights()}}" name="nivo" type="text" placeholder="tekst van deze zin"
            [(ngModel)]='zinnen2[i].tekstCorrect' (ionBlur)="onBlurTekst(zin.id, zinnen2[i].tekst, zinnen2[i].tekstCorrect)" (ionChange)="onchangeTekst(zin.id)">
          </ion-input>
        </ion-col>
      </ion-row>
    </ion-col>

     <!--  <ion-col align-self-center size-md="2" size-lg="2" size-xs="2"  >
              {{zin.deleted === '0' ? 'zichtbaar' : 'NIET zichtbaar'}}
      </ion-col> -->

    </ion-row>
    {{resultFromDataServiceTXT}}

  </ion-grid>
  <h4>
      Deze website is gemaakt door KdeCodeklopper versie 0.95 27-07-21
      login scherm toegevoegd
      Doel is oefenen met woordjes, gemaakt op verzoek van een vriend die door een hersenbloeding deels opnieuw moest leren lezen.
      De website wordt gehoosd bij netlify, die de website host vanuit Github.
      De backend staat via een api bij bhosted. De website is gebouwd in Ionic 5/Angular10 en PHP(7 geloof ik)
  </h4>
</ion-content>

