<ion-header>
  <ion-toolbar>
    <ion-title>www.weerlesen.nl
     {{dataService.lokaalTesten?'login: '+ dataService.getLastEditRights():''}}
      <span class="x-small">{{dataService.lokaalTesten?' Lokaal testen staat aan':'data van bhosted'}}</span>
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content >
  <ion-grid >
    <ion-row class= "border1" color="primary" justify-content-center>
      <ion-col align-self-center size-xs="4"size-md="3" size-lg="2">
        <a href="https://youtu.be/hw3WyAv44MY" target="_blank" rel="noopener noreferrer">
          <ion-img height=50px src="../../../assets/images/afterAStroke.png" ></ion-img></a>
      </ion-col>

      <ion-col align-self-center size-xs="8" size-md="9" size-lg="10">
        <br><h4>Als je weer opnieuw leert lezen</h4>
        <ion-row class= "border1" color="primary" justify-content-center>
          Gemaakt door Kim(m) voor Rien, vrij te gebruiken.
        </ion-row>
        <h5>Help je mij dit te verbeteren?
          Mail mij: <strong>kimproce@kpnmail.nl</strong></h5>
      </ion-col>
      </ion-row>
    <ion-row class= "border1" color="primary" >

    </ion-row>

    <ion-row class= "maxWidth600" color="primary" justify-content-center>

      <ion-col align-self-center size-xs="4"size-md="4" size-lg="4">
        <ion-input name="userName" class="small login" type="text" placeholder="userName" [(ngModel)]='dataService.userName'> </ion-input>
      </ion-col>
      <ion-col align-self-center size-xs="4" size-md="4" size-lg="4">
        <ion-input name="userWW" [class]="wwClass" type="text" placeholder="wachtwoord" [(ngModel)]='dataService.userWW'> </ion-input>
      </ion-col>
       <ion-col align-self-center size-xs="4"size-md="4" size-lg="4">
        <ion-button (click)="checkLogin()" tooltip="nog invullen">
          check Login
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class= "maxWidth600"  justify-content-center>
      <ion-col align-self-center size-xs="6"size-md="6" size-lg="6">
        <ion-button color="success" size="large" [routerLink]="['/tabs/tab1']">
        ga naar Oefening
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class= "maxWidth600" color="primary" justify-content-center>
      <ion-col align-self-center size-xs="6"size-md="6" size-lg="6">
        <ion-button [color]="this.getButtonsStyle()" [style]='getButtonsTextColor()' [routerLink]="['/tabs/tab2']">nieuwe zin invoeren (alleen LOGIN)</ion-button>
      </ion-col>
  </ion-row>
  <ion-row class= "maxWidth600" color="primary" justify-content-center>
    <ion-col align-self-center size-xs="6"size-md="6" size-lg="6">
      <ion-button [color]="this.getButtonsStyle()" [routerLink]="['/tabs/tab3']">alle zinnen beheer (alleen LOGIN)</ion-button>
    </ion-col>
  </ion-row>
  <br>

  <ion-row class= "border1 background2" color="primary" justify-content-center>
    <ul>
      <h2>Recent verbeterd:</h2>
      <li> tijdens de oefening met blauwe knop: woord direct wijzigen (okt 21)</li>
      <li> beheer woorden (tab3) nodig vanwege 2000 woorden(sept 21) </li>
      <li> 2000 woorden nivo 1 toegevoegd (aug 21)</li>
      <li> kleuren toegepast in plaats van tekst</li>

    </ul>
    <ul>
      <h2>Nog verbeteren:</h2>
      <li> oefening meer variatie uit de niveaus (nu vooral niveau 1) </li>
      <li> kleuren en zichtbaarheid in avondmodus</li>
      <li> kleuren en zichtbaarheid IPad en Opera en Safari</li>
    </ul>
    <ul>
      <h2>Later:</h2>
      <li> uitleg meer met plaatjes/pictorgrammmen  </li>
      <li> export en import lijst </li>
    </ul>

  </ion-row>
  <ion-row class= "border1 background2" color="primary" justify-content-center>
    <h4>Wat anderen hebben bedacht <a href="https://www.woorden-trainer.nl/niv9/niv9.htm#" target="_blank">Oefening woorden-trainer</a></h4>

  </ion-row>
  <br>


  </ion-grid>

</ion-content>
