.padleft{
  padding :10px;
  background-color: rgb(245, 244, 237);
  // color:rgb(27, 25, 0)
}

.small{
  font-size: small;
}

.x-small{
  font-size: x-small;
}


.border1{
  border: solid 1px lightgreen;
}

.border2{
  border: solid 2px rgb(14, 12, 12);
}

.background2{
  background-color: rgb(239, 246, 255);
}

ion-button {
  color: rgb(36, 31, 31);
  font-weight: bold;
}

ion-input {
  background-color: rgb(242, 243, 229);
  color:rgb(1, 7, 15);
  margin-top: 3px;
}

ion-select {
  background-color: rgb(231, 228, 245);
  color:rgb(5, 1, 20);
}

.lightRed { background-color: rgb(236, 193, 193); }
.lightGreen { background-color: rgb(193, 236, 202); }

.login{
  border: 2px solid;
}

.maxWidth600 {
  max-width: 600px;
}

.mediumClass{
  font-size: medium;
  vertical-align: auto;
  background-color: rgb(244, 244, 245);
  height: 2rem;
  margin-top: 0.5rem;
  color:rgb(89, 89, 119)
}

@media screen and (min-width: 640px){
  ion-select {
    font-size: large;
  }
  .small{
    font-size: medium;
  }

  .x-small{
    font-size: small;
  }

  .login{
    width: 7REM;
    height: 2.2REM;
  }

}
