<ion-header>
  <ion-toolbar>
    <ion-title>www.weerlesen.nl
     {{dataService.lokaalTesten?'login: '+ dataService.getLastEditRights():''}}
      <span class="x-small">{{dataService.lokaalTesten?' Lokaal testen staat aan':'data van bhosted'}}</span>
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content >
  <ion-grid >
    <br>
    <ion-row class= "border1 background2" color="primary" justify-content-center>
      Initiatief van Kim Procé en Rien Parham. Dit is een oefentool om woorden en zinnen te oefenen, als je weer opnieuw gaat leren lezen. In eerste instantie gemaakt voor Rien. Maar in principe door iedereen te gebruiken.
    </ion-row>

    <h4>Andere websites <a href="https://www.woorden-trainer.nl/niv9/niv9.htm#" target="_blank">Oefening woorden-trainer</a></h4>


    <ion-row class= "maxWidth600" color="primary" justify-content-center>

      <ion-col align-self-center size-xs="4"size-md="4" size-lg="4">
        <ion-input name="userName" class="small login" type="text" placeholder="userName" [(ngModel)]='dataService.userName'> </ion-input>
      </ion-col>
      <ion-col align-self-center size-xs="4" size-md="4" size-lg="4">
        <ion-input name="userWW" [class]="wwClass" type="text" placeholder="wachtwoord" [(ngModel)]='dataService.userWW'> </ion-input>
      </ion-col>
       <ion-col align-self-center size-xs="4"size-md="4" size-lg="4">
        <ion-button (click)="checkLogin()" tooltip="nog invullen">
          check Login
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class= "maxWidth600"  justify-content-center>
      <ion-col align-self-center size-xs="6"size-md="6" size-lg="6">
        <ion-button color="success" size="large" [routerLink]="['/tabs/tab1']">
        ga naar Oefening
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class= "maxWidth600" color="primary" justify-content-center>
      <ion-col align-self-center size-xs="6"size-md="6" size-lg="6">
        <ion-button [color]="this.getButtonsStyle()" [style]='getButtonsTextColor()' [routerLink]="['/tabs/tab2']">nieuwe zin invoeren (alleen LOGIN)</ion-button>
      </ion-col>
  </ion-row>
  <ion-row class= "maxWidth600" color="primary" justify-content-center>
    <ion-col align-self-center size-xs="6"size-md="6" size-lg="6">
      <ion-button [color]="this.getButtonsStyle()" [routerLink]="['/tabs/tab3']">alle zinnen beheer (alleen LOGIN)</ion-button>
    </ion-col>
  </ion-row>
  <br>
  <ion-row class= "border1 background2" color="primary" justify-content-center>
    <ul>
      <h2>Nog in de maak:</h2>
      <li> Vraagt in een oefening niet hetzelfde woord </li>
      <li>Slaat tijd op </li>
      <li>info popups in app, met uitleg </li>
    </ul>
    <ul>
      <h2>Nog verbeteren:</h2>
      <li> timer totaal tijd stopt na tijdje </li>
      <li> inloggen ook andere mensen (kan al deels)  </li>
      <li> kleuren en zichtbaarheid in avondmodus</li>
      <li> kleuren en zichtbaarheid IPad en Opera en Safari</li>
    </ul>
    <ul>
      <h2>Later:</h2>
      <li> export en import lijst </li>
    </ul>




  </ion-row>
  <br>


  </ion-grid>

</ion-content>
